@{
    ViewData["Title"] = "Report 2";
    Layout = "~/Views/Shared/_AdminBoardLayout.cshtml";
    SelectList studentLst = new SelectList(ViewBag.Students, "StudentId", "Name");

}
<div id="content" class="p-4 p-md-5 pt-5">
    <div class="content-wrapper">
        <!-- Content Header (Page header) ------>
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" class="text-secondary">Home</a></li>
                            <li class="breadcrumb-item active">Report 02</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content mb-3">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Report 02 <p class="h4">(Select a student to see all his courses and grades)</p> </h3>
                </div>
                <div class="card-body p-1">
                    <form asp-action="GetGradesByStudent" asp-controller="Reports" method="post">

                        @* <label for="Id">Enter Student Id </label>
                        <input name="Id" class="form-control"><br><br> *@

                        <select name="Id" asp-items="studentLst" class="form-control">
                            <option>--- Select Student ---</option>
                        </select>
                        <input type="submit" value="Show Report 2" class="btn btn-success m-1">
                        <br><br>

                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>

        <!-- /.content -->
    </div>
</div>
