@{
    ViewData["Title"] = "Report 06";
    Layout = "~/Views/Shared/_AdminBoardLayout.cshtml";
    SelectList examLst = new SelectList(ViewBag.Exams, "ExamId", "ExamId");
    SelectList studentLst = new SelectList(ViewBag.Students, "StudentId", "Name");


}

<div id="content" class="p-4 p-md-5 pt-5">
    <div class="content-wrapper">
        <!-- Content Header (Page header) ------>
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" class="text-secondary">Home</a></li>
                            <li class="breadcrumb-item active">Report 06</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>



        <!-- Main content -->
     


        <section class="content mb-3">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Report 06</h3>
                </div>
                <div class="card-body p-1">
                    <form asp-action="GetExamByStudent" asp-controller="Reports" method="post">

                        @* <label for="ExamId"> enter exam id </label>
                        <input name="ExamId" class="form-control"> *@
                        @* <label for="StudentId"> enter student id </label>
                        <input name="StudentId" class="form-control"><br><br> *@

                        <select name="ExamId" asp-items="examLst" class="form-control">
                            <option>--- Select Exam ---</option>
                        </select>

                        <div class="space" style="height: 20px;"></div>


                        <select name="StudentId" asp-items="studentLst" class="form-control">
                            <option>--- Select Student ---</option>
                        </select>

                        <input type="submit" value="show report 6" class="btn btn-success m-1">
                        <br><br>

                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
    
        <!-- /.content -->
    </div>
</div>


