
@{
    ViewData["Title"] = "Create";
}

<h1>Create Roles</h1>
<br />
<br />

<div class="row">
    <div class="col-6">
        <form asp-action="Create" asp-controller="Role" enctype="multipart/form-data">
            <partial name="PartialViews/CreateEditPartialView" />
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>
    </div>
</div>



