
@{
    ViewData["Title"] = "ShowResult";
    Layout = "~/Views/Shared/_StudentBoardLayout.cshtml";

    var grade = ViewBag.Studentgrade;
    var correctAns = ViewBag.CorrectAns ;
    var WrongAns = ViewBag.WrongAns ;
}

    

<div class="card mb-5 ">

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Your grade: @grade</li>
        <li class="list-group-item">Your Correct Answer: @correctAns</li>
        <li class="list-group-item">Your Wrong Answer: @WrongAns</li>
    </ul>

    <a class="btn btn-secondary" asp-controller="StartExam" asp-action="StudentMain" > show other exams </a>

</div>








