
@{
    ViewData["Title"] = "UpdateMCQQuestion";
    Layout = "~/Views/Shared/_AdminBoardLayout.cshtml";
}



<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
            </div>
            <div class="card">

                <div class="card-body">
                    <div class="card-pay">
                        <ul class="tabs-menu nav">
                            <li class="" style="width: 50%;"><a href="#tab20" class="active" data-bs-toggle="tab">Update MCQ Question </a></li>
                            <!-- <li style="width: 50%;"><a href="#tab21" data-bs-toggle="tab" class="">  True & False</a></li>-->
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab20">
                                <form method="post" asp-action="UpdateMCQQuestion" asp-controller="Question">
                                    <partial name="PartialViews/CreateUpdatePartialView" />

                                    <input type="submit" class="btn  btn-lg btn-primary" value="Confirm" style="margin: auto;">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
